<%= form_with(model: cloth) do |form| %>
  <% if cloth.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cloth.errors.count, "error") %> prohibited this cloth from being saved:</h2>

      <ul>
        <% cloth.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div class="mb-3">
  <%= form.label :location, class: "form-label" %>
  <%= form.collection_select :location_id, @locations, :id, :city, { prompt: "Select Location" }, class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
