<!DOCTYPE html>
<html>
  <head>
    <title>ClothCartel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#">ClothCartel</a>

        <% if logged_in? %>
          <div class="text-light">
            Logged in as <%= current_user.email %> |
            <%= link_to 'logout', logout_path, method: :delete, class: "text-light" %>
          </div>
        <% end %>
      </div>
    </header>

    <% flash.each do |key, value| %>
      <p id="<%= key %>"><%= value %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
